
@{
    ViewBag.Title = "Clave Modificada";
}

<h2>Clave Modificada</h2>

<div class="alert alert-success">
    <h4>Clave modificada correctamente</h4>
    <p>La clave se modific&oacute; correctamente, la pr&oacute;xima vez que ingrese al sistema deberá utilizar esta clave.</p>
</div>