@model MvcWebApplication.Models.CustomPrincipal

@{
    ViewBag.Title = "Perfil";
}

<h2>Perfil del usuario</h2>

<p>Colocar aqu&iacute; el formulario para que el usuario pueda cambiar sus datos.</p>

