
@{
    ViewBag.Title = "RegistroFinalizado";
}

<h2>Registro Finalizado</h2>

<div class="alert alert-success">
    <h4>Registro realizado correctamente</h4>
    <p>El registro del usuario finalizó correctamente, ahora ya puede @Html.ActionLink("Ingresar", "Ingresar") al sistema con los mismos datos que registró.</p>
</div>
